### IMPORTING THE LIBRARIES AND THE DATASETS

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

IMPORT THE TRAIN DATA

In [2]:
train_df=pd.read_excel(r"C:\Users\HP\Desktop\PYTHON\flight ticket price\Flight_Ticket_Participant_Datasets\Data_Train.xlsx")
train_df=pd.DataFrame(data=train_df)
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
train_df.shape

(10683, 11)

IMPORT THE TEST DATA

In [4]:
test_df=pd.read_excel(r"C:\Users\HP\Desktop\PYTHON\flight ticket price\Flight_Ticket_Participant_Datasets\Test_set.xlsx")
test_df=pd.DataFrame(data=test_df)
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [5]:
test_df.shape

(2671, 10)

APPEND THE TRAIN AND TEST DATA

In [6]:
final_df=train_df.append(test_df)
final_df.head()

,Additional_Info,Airline,Arrival_Time,Date_of_Journey,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops
0,No info,IndiGo,01:10 22 Mar,24/03/2019,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,non-stop
1,No info,Air India,13:15,1/05/2019,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,2 stops
2,No info,Jet Airways,04:25 10 Jun,9/06/2019,09:25,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,2 stops
3,No info,IndiGo,23:30,12/05/2019,18:05,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,1 stop
4,No info,IndiGo,21:35,01/03/2019,16:50,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1 stop

In [7]:
final_df.shape

(13354, 11)

In [8]:
final_df.columns

Index(['Additional_Info', 'Airline', 'Arrival_Time', 'Date_of_Journey',
       'Dep_Time', 'Destination', 'Duration', 'Price', 'Route', 'Source',
       'Total_Stops'],
      dtype='object')

WE APPENDED THE TRAIN AND TEST DATA TOGETHER SO THAT WE CAN WORK ON THEM TOGETHER AND WE WILL NOT HAVE TO MAKE THE CHANGES SEPERATELY !

### DATA CLEANSING AND WRANGLING

In the column ‘Date_of_Journey’, we can see the date format is given as dd/mm/yyyy and as you can see the datatype is given as object So there is two ways to tackle this column, either convert the column into Timestamp or divide the column into date,Month ,Year. Here , i am splitting the columns

In [9]:
final_df["Date"]=final_df["Date_of_Journey"].str.split('/').str[0]
final_df["Month"]=final_df["Date_of_Journey"].str.split('/').str[1]
final_df["Year"]=final_df["Date_of_Journey"].str.split('/').str[2]

In the column ‘Arrival_Time’,if we see we have combination of both time and month but we need only the time details out of it so we split the time into ‘Hours’ and ‘Minute’.

In [10]:
final_df["Arrival_Time"]=final_df["Arrival_Time"].str.split(' ').str[0]

final_df["Arrival_Hour"]=final_df["Arrival_Time"].str.split(':').str[0]
final_df["Arrival_Minute"]=final_df["Arrival_Time"].str.split(':').str[1]

In [11]:
final_df["Arrival_Hour"]=final_df["Arrival_Hour"].astype(int)
final_df["Arrival_Minute"]=final_df["Arrival_Minute"].astype(int)

In [12]:
final_df.columns

Index(['Additional_Info', 'Airline', 'Arrival_Time', 'Date_of_Journey',
       'Dep_Time', 'Destination', 'Duration', 'Price', 'Route', 'Source',
       'Total_Stops', 'Date', 'Month', 'Year', 'Arrival_Hour',
       'Arrival_Minute'],
      dtype='object')

As same as ‘Arrival_time’ .we split this column also in hour and minute and convert it into integer

In [13]:
final_df["Dep_Hour"]=final_df["Dep_Time"].str.split(':').str[0]
final_df["Dep_Minute"]=final_df["Dep_Time"].str.split(':').str[1]

final_df["Dep_Hour"]=final_df["Dep_Hour"].astype(int)
final_df["Dep_Minute"]=final_df["Dep_Minute"].astype(int)

In [14]:
final_df.columns

Index(['Additional_Info', 'Airline', 'Arrival_Time', 'Date_of_Journey',
       'Dep_Time', 'Destination', 'Duration', 'Price', 'Route', 'Source',
       'Total_Stops', 'Date', 'Month', 'Year', 'Arrival_Hour',
       'Arrival_Minute', 'Dep_Hour', 'Dep_Minute'],
      dtype='object')

This column is combination of number and a categorical variable like ‘1 stop’ . So we need only the number details from this column so we split that and take the number details only also we change the ‘non stop’ into ‘0 stop’ and convert the column into integer type

In [15]:
final_df["Total_Stops"].value_counts()

1 stop      7056
non-stop    4340
2 stops     1899
3 stops       56
4 stops        2
Name: Total_Stops, dtype: int64

In [16]:
final_df["Total_Stops"]=final_df["Total_Stops"].replace(to_replace="non-stop",value="0 stop")
final_df["Total_Stops"]=final_df["Total_Stops"].replace(to_replace=np.nan,value="0 stop")

In [17]:
final_df["Stop"]=final_df["Total_Stops"].str.split(' ').str[0]

In [18]:
final_df["Stop"]=final_df["Stop"].astype(int)

In [19]:
final_df.head()

,Additional_Info,Airline,Arrival_Time,Date_of_Journey,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops,Date,Month,Year,Arrival_Hour,Arrival_Minute,Dep_Hour,Dep_Minute,Stop
0,No info,IndiGo,01:10,24/03/2019,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,0 stop,24,03,2019,1,10,22,20,0
1,No info,Air India,13:15,1/05/2019,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,2 stops,1,05,2019,13,15,5,50,2
2,No info,Jet Airways,04:25,9/06/2019,09:25,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,2 stops,9,06,2019,4,25,9,25,2
3,No info,IndiGo,23:30,12/05/2019,18:05,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,1 stop,12,05,2019,23,30,18,5,1
4,No info,IndiGo,21:35,01/03/2019,16:50,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1 stop,01,03,2019,21,35,16,50,1

In [20]:
# final_df["Duration"]=final_df["Duration"].str.split("h ").str[0]
# final_df["duration_hour"]=final_df["Duration"].str.split("h ").str[0]
# # # final_df=final_df["Duration"].str.split(" ").str[0]
# final_df["duration_min"]=final_df["Duration"].str.split("m").str[1]
# # # final_df["duration_hour"]=final_df["duration_hour"].astype(int)
# # # final_df["duration_min"]=final_df["duration_min"].astype(int)

In [21]:
# final_df["duration_min"]=final_df["Duration"].str.split("m").str[1]

In [22]:
# final_df["duration_min"].head()

In [23]:
final_df["Route1"]=final_df["Route"].str.split("→ ").str[0]
final_df["Route2"]=final_df["Route"].str.split("→ ").str[1]
final_df["Route3"]=final_df["Route"].str.split("→ ").str[2]
final_df["Route4"]=final_df["Route"].str.split("→ ").str[3]
final_df["Route5"]=final_df["Route"].str.split("→ ").str[4]

final_df["Route1"].fillna("None",inplace=True)
final_df["Route2"].fillna("None",inplace=True)
final_df["Route3"].fillna("None",inplace=True)
final_df["Route4"].fillna("None",inplace=True)
final_df["Route5"].fillna("None",inplace=True)

In [24]:
final_df.isnull().sum()

Additional_Info       0
Airline               0
Arrival_Time          0
Date_of_Journey       0
Dep_Time              0
Destination           0
Duration              0
Price              2671
Route                 1
Source                0
Total_Stops           0
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_Minute        0
Dep_Hour              0
Dep_Minute            0
Stop                  0
Route1                0
Route2                0
Route3                0
Route4                0
Route5                0
dtype: int64

NOW LETS DROP THE COLUMNS FOR WHICH WE HAVE DUMMY COLUMNS

In [25]:
final_df=final_df.drop("Date_of_Journey",axis=1)
final_df=final_df.drop("Dep_Time",axis=1)
final_df=final_df.drop("Arrival_Time",axis=1)
final_df=final_df.drop("Route",axis=1)

In [26]:
final_df=final_df.drop("Duration",axis=1)

In [27]:
final_df.head()

,Additional_Info,Airline,Destination,Price,Source,Total_Stops,Date,Month,Year,Arrival_Hour,Arrival_Minute,Dep_Hour,Dep_Minute,Stop,Route1,Route2,Route3,Route4,Route5
0,No info,IndiGo,New Delhi,3897.0,Banglore,0 stop,24,03,2019,1,10,22,20,0,BLR,DEL,None,None,None
1,No info,Air India,Banglore,7662.0,Kolkata,2 stops,1,05,2019,13,15,5,50,2,CCU,IXR,BBI,BLR,None
2,No info,Jet Airways,Cochin,13882.0,Delhi,2 stops,9,06,2019,4,25,9,25,2,DEL,LKO,BOM,COK,None
3,No info,IndiGo,Banglore,6218.0,Kolkata,1 stop,12,05,2019,23,30,18,5,1,CCU,NAG,BLR,None,None
4,No info,IndiGo,New Delhi,13302.0,Banglore,1 stop,01,03,2019,21,35,16,50,1,BLR,NAG,DEL,None,None

In [28]:
final_df.columns

Index(['Additional_Info', 'Airline', 'Destination', 'Price', 'Source',
       'Total_Stops', 'Date', 'Month', 'Year', 'Arrival_Hour',
       'Arrival_Minute', 'Dep_Hour', 'Dep_Minute', 'Stop', 'Route1', 'Route2',
       'Route3', 'Route4', 'Route5'],
      dtype='object')

In [29]:
final_df.shape

(13354, 19)

In [30]:
final_df.isnull().sum()

Additional_Info       0
Airline               0
Destination           0
Price              2671
Source                0
Total_Stops           0
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_Minute        0
Dep_Hour              0
Dep_Minute            0
Stop                  0
Route1                0
Route2                0
Route3                0
Route4                0
Route5                0
dtype: int64

In [31]:
final_df["Airline"].value_counts()

Jet Airways                          4746
IndiGo                               2564
Air India                            2192
Multiple carriers                    1543
SpiceJet                             1026
Vistara                               608
Air Asia                              405
GoAir                                 240
Multiple carriers Premium economy      16
Jet Airways Business                    8
Vistara Premium economy                 5
Trujet                                  1
Name: Airline, dtype: int64

### Treating the null values

In [32]:
final_df["Price"].fillna(how="median")

ValueError: Must specify a fill 'value' or 'method'.