In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\HP\Desktop\PYTHON\NLP\ZIP NLP\projects\train.csv")
df=pd.DataFrame(data=df)
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [3]:
df.shape

(38932, 5)

In [4]:
df.isnull().sum()

User_ID         0
Description     0
Browser_Used    0
Device_Used     0
Is_Response     0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38932 entries, 0 to 38931
Data columns (total 5 columns):
User_ID         38932 non-null object
Description     38932 non-null object
Browser_Used    38932 non-null object
Device_Used     38932 non-null object
Is_Response     38932 non-null object
dtypes: object(5)
memory usage: 1.5+ MB

In [6]:
df["Browser_Used"].value_counts()

Firefox              7367
Edge                 7134
Google Chrome        4659
InternetExplorer     4588
Mozilla Firefox      4328
Mozilla              3092
Chrome               2470
IE                   2439
Internet Explorer    2103
Safari                390
Opera                 362
Name: Browser_Used, dtype: int64

In [7]:
df["Device_Used"].value_counts()

Desktop    15026
Mobile     14976
Tablet      8930
Name: Device_Used, dtype: int64

In [8]:
df["Is_Response"].value_counts()

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

### removing punctuations

In [9]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
def rmv_punct(text):
    no_punct=[words for words in text if words not in string.punctuation]
    words_wo_punct="".join(no_punct)
    return words_wo_punct

df["new_description"]=df["Description"].apply(lambda x: rmv_punct(x.lower())) #used the lower function also, because we would be doing it later so to reduce lines i have written it here
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...

### word tokenizing
#in the block of code below, "\W+" splits all the non words characaters

In [11]:
import re

def tokenize(text):
    split=re.split("\W+", text)
    return split
df["new_description_with_split"]=df["new_description"].apply(lambda x: tokenize(x))
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,..."
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri..."
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,..."
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t..."
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce..."

### STOP_WORDS

 Now, we have a list of words without any punctuation.
#Let’s go ahead and remove the stop words. 
#Stop words are irrelevant words that won’t help in identifying a text as real or fake. 
#We will use “nltk” library for stop-words

In [12]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [13]:
stopword=set(nltk.corpus.stopwords.words("english"))
print(stopword)

{'yourself', 'of', 'shan', 'under', 're', 'i', 'hers', 't', 'she', 'against', 's', "should've", 'being', "hasn't", "it's", 've', 'her', 'when', 'these', 'they', 'whom', 'needn', 'few', 'mightn', "you'll", "couldn't", 'be', 'there', 'y', 'them', 'about', 'we', 'by', 'its', 'no', "shan't", "mustn't", 'm', 'shouldn', "hadn't", 'wouldn', "mightn't", 'isn', "she's", 'he', 'doing', 'not', 'ain', 'as', "you're", 'but', 'because', "weren't", "didn't", 'll', 'each', 'why', 'such', 'aren', "that'll", 'it', 'other', 'for', 'between', 'should', "don't", 'just', 'here', 'yours', 'do', 'me', 'has', 'at', 'than', 'an', 'are', 'now', 'him', 'had', 'some', 'his', "needn't", 'what', 'wasn', 'ourselves', 'to', "shouldn't", 'more', 'too', 'or', 'o', 'd', 'doesn', 'only', 'out', "wouldn't", 'this', 'until', 'above', 'through', 'after', 'don', 'couldn', 'haven', 'then', 'mustn', 'didn', "aren't", 'on', 'once', 'ours', 'theirs', 'off', 'from', 'so', 'ma', "won't", 'those', 'into', 'before', 'in', "isn't", "you've", 'up', 'will', 'both', 'over', 'very', 'how', 'if', 'hadn', 'same', 'were', 'all', 'your', 'am', 'does', "you'd", 'won', 'can', 'was', 'myself', 'their', 'during', "doesn't", 'with', 'below', 'yourselves', 'been', 'our', 'again', 'further', "wasn't", 'where', 'did', 'have', 'you', 'own', 'down', 'hasn', 'themselves', 'himself', 'nor', 'which', "haven't", 'a', 'having', 'itself', 'and', 'the', 'while', 'herself', 'is', 'any', 'that', 'most', 'my', 'who', 'weren'}

In [14]:
#now lets create a function which will remove the stopwords 

def rmv_stopwords(text):
    text=[words for words in text if words not in stopword]
    return text

df["new_description_with_split_stopwords"]=df["new_description_with_split"].apply(lambda x: rmv_stopwords(x))
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split,new_description_with_split_stopwords
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,...","[room, kind, clean, strong, smell, dogs, gener..."
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri...","[stayed, crown, plaza, april, april, staff, fr..."
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,...","[booked, hotel, hotwire, lowest, price, could,..."
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t...","[stayed, husband, sons, way, alaska, cruise, l..."
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce...","[girlfriends, stayed, celebrate, th, birthdays..."

### STEMMING AND LEMMATIZING

In [15]:
from nltk.stem import WordNetLemmatizer
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [16]:
wnl=WordNetLemmatizer()

In [17]:
def lemmatization(text):
    lem_text=[wnl.lemmatize(word) for word in text]
    return lem_text

df["new_description_with_split_stopwords_lemma"]=df["new_description_with_split_stopwords"].apply(lambda x: lemmatization(x))
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split,new_description_with_split_stopwords,new_description_with_split_stopwords_lemma
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,...","[room, kind, clean, strong, smell, dogs, gener...","[room, kind, clean, strong, smell, dog, genera..."
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri...","[stayed, crown, plaza, april, april, staff, fr...","[stayed, crown, plaza, april, april, staff, fr..."
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,...","[booked, hotel, hotwire, lowest, price, could,...","[booked, hotel, hotwire, lowest, price, could,..."
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t...","[stayed, husband, sons, way, alaska, cruise, l...","[stayed, husband, son, way, alaska, cruise, lo..."
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce...","[girlfriends, stayed, celebrate, th, birthdays...","[girlfriend, stayed, celebrate, th, birthday, ..."

In [18]:
df["new_description_with_split_stopwords_lemma"]

0        [room, kind, clean, strong, smell, dog, genera...
1        [stayed, crown, plaza, april, april, staff, fr...
2        [booked, hotel, hotwire, lowest, price, could,...
3        [stayed, husband, son, way, alaska, cruise, lo...
4        [girlfriend, stayed, celebrate, th, birthday, ...
5        [room, one, nice, clearly, updated, recently, ...
6        [husband, stayed, hotel, time, though, fancies...
7        [wife, stayed, glorious, city, back, sf, expen...
8        [boyfriend, stayed, fairmont, recent, trip, sa...
9        [wonderful, staff, great, location, definately...
10       [step, time, square, nice, room, stayed, night...
11       [wife, kid, stayed, valentine, weekend, really...
12       [stay, jolly, madison, xmas, period, main, fea...
13       [highly, recommend, hawthorne, terrace, afford...
14       [found, hotel, clean, nicely, located, good, f...
15       [stayed, elan, th, th, october, liked, much, r...
16       [priceline, sent, u, hotel, accepting, bid, us...
17       [old, cheap, furnituresour, chair, simply, des...
18       [stayed, night, really, happy, located, min, w...
19       [service, fine, hotel, fell, way, expectation,...
20       [stayed, many, hilton, property, expect, frien...
21       [everything, could, want, hotel, convenient, l...
22       [much, wanted, stay, boutique, hotel, near, ti...
23       [really, liked, hotel, staff, wonderful, quite...
24       [wife, spent, day, month, new, york, getaway, ...
25       [stayed, hotel, two, night, busy, labor, day, ...
26       [took, girl, trip, la, idea, stay, research, s...
27       [stayed, girlfriend, long, weekend, gave, u, n...
28       [stayed, numerous, time, never, disappointed, ...
29       [public, area, nice, look, staff, reception, h...
                               ...
38902    [stayed, waldorf, many, time, think, get, goin...
38903    [hotel, great, choice, staying, manhattan, boo...
38904    [although, new, york, large, city, whenever, g...
38905    [used, live, austin, moved, away, could, stay,...
38906    [ive, stayed, hilton, hyatt, magnolia, club, q...
38907    [great, locationshort, walk, amtrak, station, ...
38908    [booked, renaissance, hotel, changed, hand, ti...
38909    [hotel, old, style, red, roof, renovated, new,...
38910    [admit, tried, rebooking, since, afraid, bad, ...
38911    [room, nice, everything, seemed, pretty, new, ...
38912    [great, place, stay, hotel, big, impersonal, l...
38913    [never, ever, stay, hotel, stayed, week, ago, ...
38914    [bus, hour, finally, arriving, hotel, lawerenc...
38915    [pretty, cool, hotel, stayed, day, midjuly, bl...
38916    [stopped, lax, way, canada, loved, staying, sh...
38917    [love, hotel, stay, several, reason, despite, ...
38918    [excited, stay, blu, aqua, new, hotel, downtow...
38919    [didnt, get, see, much, seattle, hotel, good, ...
38920    [husband, stayed, one, night, heartbreak, hote...
38921    [staed, handlery, hotel, visit, san, diego, go...
38922    [hotel, great, location, want, right, time, sq...
38923    [pretty, impartial, hotel, would, definitely, ...
38924    [booked, room, two, single, bed, upon, arrival...
38925    [arrived, via, taxi, la, guardia, driving, th,...
38926    [tend, post, review, exceptionally, experience...
38927    [arrived, late, night, walked, checkin, area, ...
38928    [positive, impression, location, public, parki...
38929    [traveling, friend, shopping, show, location, ...
38930    [experience, ok, paid, extra, view, pool, got,...
38931    [westin, wonderfully, restored, grande, dame, ...
Name: new_description_with_split_stopwords_lemma, Length: 38932, dtype: object

In [19]:
df["new_description_with_split_stopwords"]

0        [room, kind, clean, strong, smell, dogs, gener...
1        [stayed, crown, plaza, april, april, staff, fr...
2        [booked, hotel, hotwire, lowest, price, could,...
3        [stayed, husband, sons, way, alaska, cruise, l...
4        [girlfriends, stayed, celebrate, th, birthdays...
5        [rooms, one, nice, clearly, updated, recently,...
6        [husband, stayed, hotel, times, though, fancie...
7        [wife, stayed, glorious, city, back, sf, expen...
8        [boyfriend, stayed, fairmont, recent, trip, sa...
9        [wonderful, staff, great, location, definately...
10       [steps, times, square, nice, rooms, stayed, ni...
11       [wife, kids, stayed, valentines, weekend, real...
12       [stay, jolly, madison, xmas, period, main, fea...
13       [highly, recommend, hawthorne, terrace, afford...
14       [found, hotel, clean, nicely, located, good, f...
15       [stayed, elan, th, th, october, liked, much, r...
16       [priceline, sent, us, hotel, accepting, bid, u...
17       [old, cheap, furnituresour, chair, simply, des...
18       [stayed, nights, really, happy, located, mins,...
19       [service, fine, hotel, fell, way, expectations...
20       [stayed, many, hilton, properties, expect, fri...
21       [everything, could, want, hotel, convenient, l...
22       [much, wanted, stay, boutique, hotel, near, ti...
23       [really, liked, hotel, staff, wonderful, quite...
24       [wife, spent, days, month, new, york, getaway,...
25       [stayed, hotel, two, nights, busy, labor, day,...
26       [took, girls, trip, la, idea, stay, research, ...
27       [stayed, girlfriend, long, weekend, gave, us, ...
28       [stayed, numerous, times, never, disappointed,...
29       [public, areas, nice, look, staff, reception, ...
                               ...
38902    [stayed, waldorf, many, times, think, get, goi...
38903    [hotel, great, choice, staying, manhattan, boo...
38904    [although, new, york, large, city, whenever, g...
38905    [used, live, austin, moved, away, could, stay,...
38906    [ive, stayed, hilton, hyatt, magnolia, club, q...
38907    [great, locationshort, walk, amtrak, station, ...
38908    [booked, renaissance, hotel, changed, hands, t...
38909    [hotel, old, style, red, roof, renovated, new,...
38910    [admit, tried, rebooking, since, afraid, bad, ...
38911    [room, nice, everything, seemed, pretty, new, ...
38912    [great, place, stay, hotel, big, impersonal, l...
38913    [never, ever, stay, hotel, stayed, weeks, ago,...
38914    [bus, hours, finally, arriving, hotel, laweren...
38915    [pretty, cool, hotel, stayed, days, midjuly, b...
38916    [stopped, lax, way, canada, loved, staying, sh...
38917    [love, hotel, stay, several, reasons, despite,...
38918    [excited, stay, blu, aqua, new, hotel, downtow...
38919    [didnt, get, see, much, seattle, hotel, good, ...
38920    [husband, stayed, one, night, heartbreak, hote...
38921    [staed, handlery, hotel, visit, san, diego, go...
38922    [hotel, great, location, want, right, times, s...
38923    [pretty, impartial, hotel, would, definitely, ...
38924    [booked, room, two, single, beds, upon, arriva...
38925    [arrived, via, taxi, la, guardia, driving, th,...
38926    [tend, post, reviews, exceptionally, experienc...
38927    [arrived, late, night, walked, checkin, area, ...
38928    [positive, impression, location, public, parki...
38929    [traveling, friends, shopping, show, location,...
38930    [experience, ok, paid, extra, view, pool, got,...
38931    [westin, wonderfully, restored, grande, dame, ...
Name: new_description_with_split_stopwords, Length: 38932, dtype: object

In [20]:
from nltk.stem import SnowballStemmer
snowball=SnowballStemmer("english")

In [21]:
def snowstem(text):
    ss=[snowball.stem(word) for word in text]
    return ss

df["new_description_with_split_stopwords_stem"]=df["new_description_with_split_stopwords"].apply(lambda x: snowstem(x))
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split,new_description_with_split_stopwords,new_description_with_split_stopwords_lemma,new_description_with_split_stopwords_stem
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,...","[room, kind, clean, strong, smell, dogs, gener...","[room, kind, clean, strong, smell, dog, genera...","[room, kind, clean, strong, smell, dog, genera..."
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri...","[stayed, crown, plaza, april, april, staff, fr...","[stayed, crown, plaza, april, april, staff, fr...","[stay, crown, plaza, april, april, staff, frie..."
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,...","[booked, hotel, hotwire, lowest, price, could,...","[booked, hotel, hotwire, lowest, price, could,...","[book, hotel, hotwir, lowest, price, could, fi..."
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t...","[stayed, husband, sons, way, alaska, cruise, l...","[stayed, husband, son, way, alaska, cruise, lo...","[stay, husband, son, way, alaska, cruis, love,..."
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce...","[girlfriends, stayed, celebrate, th, birthdays...","[girlfriend, stayed, celebrate, th, birthday, ...","[girlfriend, stay, celebr, th, birthday, plan,..."

In [22]:
df.iloc[:,-1]

0        [room, kind, clean, strong, smell, dog, genera...
1        [stay, crown, plaza, april, april, staff, frie...
2        [book, hotel, hotwir, lowest, price, could, fi...
3        [stay, husband, son, way, alaska, cruis, love,...
4        [girlfriend, stay, celebr, th, birthday, plan,...
5        [room, one, nice, clear, updat, recent, clean,...
6        [husband, stay, hotel, time, though, fanciest,...
7        [wife, stay, glorious, citi, back, sf, expens,...
8        [boyfriend, stay, fairmont, recent, trip, san,...
9        [wonder, staff, great, locat, defin, price, hi...
10       [step, time, squar, nice, room, stay, night, g...
11       [wife, kid, stay, valentin, weekend, realli, n...
12       [stay, jolli, madison, xmas, period, main, fea...
13       [high, recommend, hawthorn, terrac, afford, co...
14       [found, hotel, clean, nice, locat, good, free,...
15       [stay, elan, th, th, octob, like, much, return...
16       [pricelin, sent, us, hotel, accept, bid, usd, ...
17       [old, cheap, furnituresour, chair, simpli, des...
18       [stay, night, realli, happi, locat, min, walk,...
19       [servic, fine, hotel, fell, way, expect, respe...
20       [stay, mani, hilton, properti, expect, friend,...
21       [everyth, could, want, hotel, conveni, locat, ...
22       [much, want, stay, boutiqu, hotel, near, time,...
23       [realli, like, hotel, staff, wonder, quit, hel...
24       [wife, spent, day, month, new, york, getaway, ...
25       [stay, hotel, two, night, busi, labor, day, we...
26       [took, girl, trip, la, idea, stay, research, s...
27       [stay, girlfriend, long, weekend, gave, us, ni...
28       [stay, numer, time, never, disappoint, staff, ...
29       [public, area, nice, look, staff, recept, help...
                               ...
38902    [stay, waldorf, mani, time, think, get, go, po...
38903    [hotel, great, choic, stay, manhattan, book, p...
38904    [although, new, york, larg, citi, whenev, go, ...
38905    [use, live, austin, move, away, could, stay, h...
38906    [ive, stay, hilton, hyatt, magnolia, club, qua...
38907    [great, locationshort, walk, amtrak, station, ...
38908    [book, renaiss, hotel, chang, hand, time, arri...
38909    [hotel, old, style, red, roof, renov, new, sta...
38910    [admit, tri, rebook, sinc, afraid, bad, review...
38911    [room, nice, everyth, seem, pretti, new, room,...
38912    [great, place, stay, hotel, big, imperson, lov...
38913    [never, ever, stay, hotel, stay, week, ago, do...
38914    [bus, hour, final, arriv, hotel, lawer, bawl, ...
38915    [pretti, cool, hotel, stay, day, midjuli, blas...
38916    [stop, lax, way, canada, love, stay, sheraton,...
38917    [love, hotel, stay, sever, reason, despit, one...
38918    [excit, stay, blu, aqua, new, hotel, downtown,...
38919    [didnt, get, see, much, seattl, hotel, good, l...
38920    [husband, stay, one, night, heartbreak, hotel,...
38921    [sta, handleri, hotel, visit, san, diego, go, ...
38922    [hotel, great, locat, want, right, time, squar...
38923    [pretti, imparti, hotel, would, definit, never...
38924    [book, room, two, singl, bed, upon, arriv, upg...
38925    [arriv, via, taxi, la, guardia, drive, th, th,...
38926    [tend, post, review, except, experi, either, g...
38927    [arriv, late, night, walk, checkin, area, comp...
38928    [posit, impress, locat, public, park, opposit,...
38929    [travel, friend, shop, show, locat, great, bes...
38930    [experi, ok, paid, extra, view, pool, got, vie...
38931    [westin, wonder, restor, grand, dame, hotel, b...
Name: new_description_with_split_stopwords_stem, Length: 38932, dtype: object

In [23]:
df.iloc[:,-3]

0        [room, kind, clean, strong, smell, dogs, gener...
1        [stayed, crown, plaza, april, april, staff, fr...
2        [booked, hotel, hotwire, lowest, price, could,...
3        [stayed, husband, sons, way, alaska, cruise, l...
4        [girlfriends, stayed, celebrate, th, birthdays...
5        [rooms, one, nice, clearly, updated, recently,...
6        [husband, stayed, hotel, times, though, fancie...
7        [wife, stayed, glorious, city, back, sf, expen...
8        [boyfriend, stayed, fairmont, recent, trip, sa...
9        [wonderful, staff, great, location, definately...
10       [steps, times, square, nice, rooms, stayed, ni...
11       [wife, kids, stayed, valentines, weekend, real...
12       [stay, jolly, madison, xmas, period, main, fea...
13       [highly, recommend, hawthorne, terrace, afford...
14       [found, hotel, clean, nicely, located, good, f...
15       [stayed, elan, th, th, october, liked, much, r...
16       [priceline, sent, us, hotel, accepting, bid, u...
17       [old, cheap, furnituresour, chair, simply, des...
18       [stayed, nights, really, happy, located, mins,...
19       [service, fine, hotel, fell, way, expectations...
20       [stayed, many, hilton, properties, expect, fri...
21       [everything, could, want, hotel, convenient, l...
22       [much, wanted, stay, boutique, hotel, near, ti...
23       [really, liked, hotel, staff, wonderful, quite...
24       [wife, spent, days, month, new, york, getaway,...
25       [stayed, hotel, two, nights, busy, labor, day,...
26       [took, girls, trip, la, idea, stay, research, ...
27       [stayed, girlfriend, long, weekend, gave, us, ...
28       [stayed, numerous, times, never, disappointed,...
29       [public, areas, nice, look, staff, reception, ...
                               ...
38902    [stayed, waldorf, many, times, think, get, goi...
38903    [hotel, great, choice, staying, manhattan, boo...
38904    [although, new, york, large, city, whenever, g...
38905    [used, live, austin, moved, away, could, stay,...
38906    [ive, stayed, hilton, hyatt, magnolia, club, q...
38907    [great, locationshort, walk, amtrak, station, ...
38908    [booked, renaissance, hotel, changed, hands, t...
38909    [hotel, old, style, red, roof, renovated, new,...
38910    [admit, tried, rebooking, since, afraid, bad, ...
38911    [room, nice, everything, seemed, pretty, new, ...
38912    [great, place, stay, hotel, big, impersonal, l...
38913    [never, ever, stay, hotel, stayed, weeks, ago,...
38914    [bus, hours, finally, arriving, hotel, laweren...
38915    [pretty, cool, hotel, stayed, days, midjuly, b...
38916    [stopped, lax, way, canada, loved, staying, sh...
38917    [love, hotel, stay, several, reasons, despite,...
38918    [excited, stay, blu, aqua, new, hotel, downtow...
38919    [didnt, get, see, much, seattle, hotel, good, ...
38920    [husband, stayed, one, night, heartbreak, hote...
38921    [staed, handlery, hotel, visit, san, diego, go...
38922    [hotel, great, location, want, right, times, s...
38923    [pretty, impartial, hotel, would, definitely, ...
38924    [booked, room, two, single, beds, upon, arriva...
38925    [arrived, via, taxi, la, guardia, driving, th,...
38926    [tend, post, reviews, exceptionally, experienc...
38927    [arrived, late, night, walked, checkin, area, ...
38928    [positive, impression, location, public, parki...
38929    [traveling, friends, shopping, show, location,...
38930    [experience, ok, paid, extra, view, pool, got,...
38931    [westin, wonderfully, restored, grande, dame, ...
Name: new_description_with_split_stopwords, Length: 38932, dtype: object

In [24]:
from nltk.stem import PorterStemmer
porter=PorterStemmer()

In [25]:
def portstem(text):
    ps=" ".join([porter.stem(word) for word in text])
    return ps

df["new_description_with_split_stopwords_portstem"]=df["new_description_with_split_stopwords"].apply(lambda x: portstem(x))
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split,new_description_with_split_stopwords,new_description_with_split_stopwords_lemma,new_description_with_split_stopwords_stem,new_description_with_split_stopwords_portstem
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,...","[room, kind, clean, strong, smell, dogs, gener...","[room, kind, clean, strong, smell, dog, genera...","[room, kind, clean, strong, smell, dog, genera...",room kind clean strong smell dog gener averag ...
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri...","[stayed, crown, plaza, april, april, staff, fr...","[stayed, crown, plaza, april, april, staff, fr...","[stay, crown, plaza, april, april, staff, frie...",stay crown plaza april april staff friendli at...
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,...","[booked, hotel, hotwire, lowest, price, could,...","[booked, hotel, hotwire, lowest, price, could,...","[book, hotel, hotwir, lowest, price, could, fi...",book hotel hotwir lowest price could find got ...
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t...","[stayed, husband, sons, way, alaska, cruise, l...","[stayed, husband, son, way, alaska, cruise, lo...","[stay, husband, son, way, alaska, cruis, love,...",stay husband son way alaska cruis love hotel g...
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce...","[girlfriends, stayed, celebrate, th, birthdays...","[girlfriend, stayed, celebrate, th, birthday, ...","[girlfriend, stay, celebr, th, birthday, plan,...",girlfriend stay celebr th birthday plan weeken...

In [26]:
df.iloc[:,-1]

0        room kind clean strong smell dog gener averag ...
1        stay crown plaza april april staff friendli at...
2        book hotel hotwir lowest price could find got ...
3        stay husband son way alaska cruis love hotel g...
4        girlfriend stay celebr th birthday plan weeken...
5        room one nice clearli updat recent clean bed c...
6        husband stay hotel time though fanciest hotel ...
7        wife stay gloriou citi back sf expens found li...
8        boyfriend stay fairmont recent trip san franci...
9        wonder staff great locat defin price high stan...
10       step time squar nice room stay night great sho...
11       wife kid stay valentin weekend realli nice hot...
12       stay jolli madison xma period main featur loca...
13       highli recommend hawthorn terrac afford comfor...
14       found hotel clean nice locat good free shuttl ...
15       stay elan th th octob like much return day tri...
16       pricelin sent us hotel accept bid usd night ta...
17       old cheap furnituresour chair simpli destroyed...
18       stay night realli happi locat min walk walk fa...
19       servic fine hotel fell way expect respect esta...
20       stay mani hilton properti expect friendli effi...
21       everyth could want hotel conveni locat short w...
22       much want stay boutiqu hotel near time squar l...
23       realli like hotel staff wonder quit help provi...
24       wife spent day month new york getaway vacat ch...
25       stay hotel two night busi labor day weekend ar...
26       took girl trip la idea stay research settl ela...
27       stay girlfriend long weekend gave us nice comp...
28       stay numer time never disappoint staff help ov...
29       public area nice look staff recept help checki...
                               ...
38902    stay waldorf mani time think get go potluck fa...
38903    hotel great choic stay manhattan book packag d...
38904    although new york larg citi whenev go must see...
38905    use live austin move away could stay hotel aus...
38906    ive stay hilton hyatt magnolia club quarter ho...
38907    great locationshort walk amtrak station link g...
38908    book renaiss hotel chang hand time arriv june ...
38909    hotel old style red roof renov new standard pr...
38910    admit tri rebook sinc afraid bad review websit...
38911    room nice everyth seem pretti new room felt cl...
38912    great place stay hotel big imperson love frien...
38913    never ever stay hotel stay week ago doubt seco...
38914    bu hour final arriv hotel lawer bawl eye got r...
38915    pretti cool hotel stay day midjuli blast barwh...
38916    stop lax way canada love stay sheraton gateway...
38917    love hotel stay sever reason despit one gripe ...
38918    excit stay blu aqua new hotel downtown chicago...
38919    didnt get see much seattl hotel good locat nea...
38920    husband stay one night heartbreak hotel love j...
38921    sta handleri hotel visit san diego go cruis va...
38922    hotel great locat want right time squar theate...
38923    pretti imparti hotel would definit never tell ...
38924    book room two singl bed upon arriv upgrad two ...
38925    arriv via taxi la guardia drive th th saw scaf...
38926    tend post review except experi either good bad...
38927    arriv late night walk checkin area complet flo...
38928    posit impress locat public park opposit site s...
38929    travel friend shop show locat great best say r...
38930    experi ok paid extra view pool got view palm t...
38931    westin wonder restor grand dame hotel bed line...
Name: new_description_with_split_stopwords_portstem, Length: 38932, dtype: object

In [27]:
# as we can see from the above data that stemming here is more useful that lemmatization , because lemmatization could barely
# differentiate from the other columns , so henceforth we will dropping all those columns which will not useful in the further
# process of our sentiment analysis

In [28]:
df.columns

Index(['User_ID', 'Description', 'Browser_Used', 'Device_Used', 'Is_Response',
       'new_description', 'new_description_with_split',
       'new_description_with_split_stopwords',
       'new_description_with_split_stopwords_lemma',
       'new_description_with_split_stopwords_stem',
       'new_description_with_split_stopwords_portstem'],
      dtype='object')

In [29]:
newdf=pd.DataFrame(data=df)
newdf.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,new_description,new_description_with_split,new_description_with_split_stopwords,new_description_with_split_stopwords_lemma,new_description_with_split_stopwords_stem,new_description_with_split_stopwords_portstem
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,the room was kind of clean but had a very stro...,"[the, room, was, kind, of, clean, but, had, a,...","[room, kind, clean, strong, smell, dogs, gener...","[room, kind, clean, strong, smell, dog, genera...","[room, kind, clean, strong, smell, dog, genera...",room kind clean strong smell dog gener averag ...
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,i stayed at the crown plaza april april th...,"[i, stayed, at, the, crown, plaza, april, apri...","[stayed, crown, plaza, april, april, staff, fr...","[stayed, crown, plaza, april, april, staff, fr...","[stay, crown, plaza, april, april, staff, frie...",stay crown plaza april april staff friendli at...
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,i booked this hotel through hotwire at the low...,"[i, booked, this, hotel, through, hotwire, at,...","[booked, hotel, hotwire, lowest, price, could,...","[booked, hotel, hotwire, lowest, price, could,...","[book, hotel, hotwir, lowest, price, could, fi...",book hotel hotwir lowest price could find got ...
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,stayed here with husband and sons on the way t...,"[stayed, here, with, husband, and, sons, on, t...","[stayed, husband, sons, way, alaska, cruise, l...","[stayed, husband, son, way, alaska, cruise, lo...","[stay, husband, son, way, alaska, cruis, love,...",stay husband son way alaska cruis love hotel g...
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,my girlfriends and i stayed here to celebrate ...,"[my, girlfriends, and, i, stayed, here, to, ce...","[girlfriends, stayed, celebrate, th, birthdays...","[girlfriend, stayed, celebrate, th, birthday, ...","[girlfriend, stay, celebr, th, birthday, plan,...",girlfriend stay celebr th birthday plan weeken...

In [30]:
newdf.drop(columns=['User_ID', 'Description', 'Browser_Used', 'Device_Used',
       'new_description', 'new_description_with_split',
       'new_description_with_split_stopwords',
       'new_description_with_split_stopwords_lemma',
       'new_description_with_split_stopwords_stem'],inplace=True)

newdf.head()

  Is_Response      new_description_with_split_stopwords_portstem
0   not happy  room kind clean strong smell dog gener averag ...
1   not happy  stay crown plaza april april staff friendli at...
2   not happy  book hotel hotwir lowest price could find got ...
3       happy  stay husband son way alaska cruis love hotel g...
4   not happy  girlfriend stay celebr th birthday plan weeken...

### MODEL TRAINING

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
y=newdf["Is_Response"]
x=newdf["new_description_with_split_stopwords_portstem"]

In [33]:
y.head()

0    not happy
1    not happy
2    not happy
3        happy
4    not happy
Name: Is_Response, dtype: object

In [34]:
x.head()

0    room kind clean strong smell dog gener averag ...
1    stay crown plaza april april staff friendli at...
2    book hotel hotwir lowest price could find got ...
3    stay husband son way alaska cruis love hotel g...
4    girlfriend stay celebr th birthday plan weeken...
Name: new_description_with_split_stopwords_portstem, dtype: object

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=30,random_state=50)

print(len(x_train))
print(len(y_train))
print(len(x_test))
print(len(y_test))

38902
38902
30
30

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix

In [37]:
tfidf=TfidfVectorizer()
clfr= LogisticRegression(solver="lbfgs")

model=Pipeline([("vectorizer",tfidf),("classifier",clfr)])

model.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

Pipeline(memory=None,
         steps=[('vectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='warn', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [38]:
pred=model.predict(x_test)

In [39]:
pred

array(['happy', 'not happy', 'happy', 'happy', 'not happy', 'happy',
       'happy', 'happy', 'happy', 'happy', 'happy', 'happy', 'happy',
       'happy', 'happy', 'not happy', 'happy', 'not happy', 'not happy',
       'not happy', 'happy', 'happy', 'happy', 'not happy', 'happy',
       'happy', 'happy', 'happy', 'not happy', 'not happy'], dtype=object)

In [40]:
confusion_matrix(pred,y_test)

array([[19,  2],
       [ 2,  7]], dtype=int64)

In [41]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
import warnings
warnings.filterwarnings("ignore")

In [42]:
print("Accuracy: ", accuracy_score(pred,y_test))
print("Precision: ", precision_score(pred,y_test,average="weighted"))
print("Recall: ",recall_score(pred,y_test,average="weighted"))

Accuracy:  0.8666666666666667
Precision:  0.8666666666666667
Recall:  0.8666666666666667

### Predicting your model

In [43]:
ex=["i'm unhappy"]
r=model.predict(ex)
print(r)

['happy']